@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
html {
  background: #e0f1f5;
  background-position: bottom;
  background-size: cover;
}

#scanButton {
  display: none;
  width: 4rem;
  height: 2rem;
}

body {
  font-family: "Times New Roman";
}

h1 {
  font-family: "Elephant";
}

h2, h3, h4, h5, h6 {
  font-family: "Century";
}

#layout-start {
  background: #e0f1f5;
  color: #f5f5f5;
  display: grid;
  grid-template: "header header header" "main main main";
  grid-row-gap: 1rem;
  grid-column-gap: 1rem;
  justify-content: center;
  align-content: center;
  color: #343434;
}
#layout-start main {
  margin: 3rem;
  font-size: 1.5em;
  padding: 8rem;
  background-color: #368c9c;
  width: max-content;
  border-radius: 2em;
  box-shadow: 0px 6px 10px #333333;
  justify-content: center;
}
#layout-start .conterner {
  grid-area: main;
  justify-self: center;
}
#layout-start .content {
  justify-content: center;
}
#layout-start h1 {
  font-size: 2rem;
  margin-top: 0;
  grid-area: header;
  margin-bottom: 2rem;
}
#layout-start h2 {
  font-size: 1.2rem;
  margin: 0;
}
#layout-start .settings {
  height: max-content;
  width: max-content;
  background-color: #368c9c;
  padding: 1rem;
  margin-top: 3rem;
  margin-right: -6rem;
  border-radius: 1rem;
  box-shadow: 0px 6px 10px #333333;
  grid-area: header;
  grid-column: 3;
}
#layout-start .settings:hover {
  background-color: #333333;
}
#layout-start .settings-icon {
  width: 2rem;
  height: auto;
}
#layout-start p {
  font-size: 1.5rem;
  margin: 2rem;
}
#layout-start input {
  margin-top: 0;
}
@media screen and (max-width: 1280px) and (max-height: 800px) {
  #layout-start main {
    margin: 2rem;
    font-size: 1.2rem;
    padding: 6rem;
  }
  #layout-start h1 {
    font-size: 1.2rem;
  }
  #layout-start h2 {
    font-size: 1rem;
  }
  #layout-start p {
    font-size: 1.1rem;
  }
}

#layout-air {
  display: none;
  color: #f5f5f5;
}
#layout-air main {
  background: radial-gradient(at 50vw bottom, rgb(0, 0, 0) 0vw, rgb(4, 45, 59) 50vw, rgb(4, 45, 59) 100vw) no-repeat;
  background-position: bottom;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
#layout-air h2 {
  font-size: 1.4rem;
  text-align: center;
}
#layout-air p {
  font-size: 1.1rem;
}
#layout-air .container {
  display: grid;
  grid-template-areas: "header header header" "main main main" "main main main";
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1rem;
  row-gap: 2rem;
}
#layout-air .start-image {
  height: 100vh;
  width: 100vw;
  grid-area: header;
  justify-self: center;
  align-self: center;
  background: url("../index.svg") no-repeat;
  background-position: bottom;
}
#layout-air .methanol-image {
  display: none;
  width: 125%;
  margin-right: 12rem;
  margin-bottom: 2rem;
  grid-area: main;
  justify-self: center;
  align-self: center;
  background-position: bottom;
}
#layout-air .air-text-box {
  display: none;
  width: 40vw;
  margin-top: 2rem;
  padding: 2rem;
  border: rgb(62, 88, 25) dashed 0.5rem;
  border-radius: 2rem;
  justify-self: center;
  align-self: end;
}
#layout-air .left.air-text-box {
  margin-left: 6rem;
}
#layout-air .right.air-text-box {
  margin-right: 6rem;
}
#layout-air .content {
  margin: 1rem;
  padding: 1rem;
  background: #368c9c;
}
#layout-air .left {
  grid-column: 1;
}
#layout-air .center {
  grid-column: 2;
}
#layout-air .right {
  grid-column: 3;
}
#layout-air .title {
  margin-top: 1rem;
  font-size: 2rem;
  color: #f5f5f5;
  height: fit-content;
  grid-area: header;
  justify-self: center;
}
#layout-air .loge-molekyl {
  grid-area: header;
  margin: 1rem;
  margin-top: 2rem;
  width: 9rem;
  height: auto;
}
#layout-air .loge-project-air {
  grid-area: header;
  width: 20rem;
  height: auto;
  justify-self: end;
}
#layout-air #fruit-btn {
  margin: 1rem;
  padding: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  max-width: fit-content;
  height: fit-content;
  place-items: end;
  background: #f5f5f5;
  border-color: #f5f5f5;
  border-style: unset;
  border-radius: 30px;
}
#layout-air #fruit-btn:hover {
  background: #fefefe;
  border-color: #fefefe;
  box-shadow: 4px 4px 3px 1px #343434;
}
@media screen and (max-width: 1280px) and (max-height: 800px) {
  #layout-air .left.air-text-box {
    margin-left: 8rem;
    padding: 2rem;
  }
  #layout-air h1 {
    font-size: 1.2rem;
  }
  #layout-air h2 {
    font-size: 1rem;
  }
  #layout-air p {
    font-size: 0.9rem;
  }
}

/*# sourceMappingURL=index.css.map */
