@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
:root {
  --main-bg-color: rgb(20, 18, 18);
  --secondary-bg-color: rgb(58, 57, 57);
  --bubble-bg-color: #203354;
  --circle-bg-color: radial-gradient(circle at 100px 100px, #5cabff, #000);
  --maincircle-bg-color: radial-gradient(circle at 100px 100px, #d01dd6, #000);
}

html {
  background: #e0f1f5;
  background-position: bottom;
  background-size: cover;
}

#scanButton {
  display: none;
  width: 4rem;
  height: 2rem;
}

body {
  font-family: "Times New Roman";
}

h1 {
  font-family: "Elephant";
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Century";
}

body {
  height: 100vh;
}

#layout-start {
  background: #e0f1f5;
  color: #f5f5f5;
  display: grid;
  grid-template: "header header header" "main main main";
  grid-row-gap: 1rem;
  grid-column-gap: 1rem;
  justify-content: center;
  align-content: center;
  color: #343434;
}
#layout-start main {
  margin: 3rem;
  font-size: 1.5em;
  padding: 8rem;
  background-color: #368c9c;
  width: max-content;
  border-radius: 2em;
  box-shadow: 0px 6px 10px #333333;
  justify-content: center;
}
#layout-start .conterner {
  grid-area: main;
  justify-self: center;
}
#layout-start .content {
  justify-content: center;
}
#layout-start h1 {
  font-size: 2rem;
  margin-top: 0;
  grid-area: header;
  margin-bottom: 2rem;
}
#layout-start h2 {
  font-size: 1.2rem;
  margin: 0;
}
#layout-start .settings {
  height: max-content;
  width: max-content;
  background-color: #368c9c;
  padding: 1rem;
  margin-top: 3rem;
  margin-right: -6rem;
  border-radius: 1rem;
  box-shadow: 0px 6px 10px #333333;
  grid-area: header;
  grid-column: 3;
}
#layout-start .settings:hover {
  background-color: #333333;
}
#layout-start .settings-icon {
  width: 2rem;
  height: auto;
}
#layout-start p {
  font-size: 1.5rem;
  margin: 2rem;
}
#layout-start input {
  margin-top: 0;
}
@media screen and (max-width: 1280px) and (max-height: 800px) {
  #layout-start main {
    margin: 2rem;
    font-size: 1.2rem;
    padding: 6rem;
  }
  #layout-start h1 {
    font-size: 1.2rem;
  }
  #layout-start h2 {
    font-size: 1rem;
  }
  #layout-start p {
    font-size: 1.1rem;
  }
}

#layout-air {
  display: none;
  color: #f5f5f5;
  margin-top: 5rem;
  width: 95vw;
  height: 85vh;
}
#layout-air main {
  background: radial-gradient(at 50vw bottom, rgb(0, 0, 0) 0vw, rgb(4, 45, 59) 50vw, rgb(4, 45, 59) 100vw) no-repeat;
  background-position: bottom;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
#layout-air h2 {
  font-size: 1.4rem;
  text-align: center;
}
#layout-air p {
  font-size: 1.1rem;
}
#layout-air .container {
  display: grid;
  grid-template-areas: "header header header" "main main main" "main main main";
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1rem;
  row-gap: 2rem;
}
#layout-air .start-image {
  height: 100vh;
  width: 100vw;
  grid-area: header;
  justify-self: center;
  align-self: center;
  background: url("../air/index.svg") no-repeat;
  background-position: bottom;
}
#layout-air .methanol-image {
  display: none;
  width: 125%;
  margin-right: 12rem;
  margin-bottom: 2rem;
  grid-area: main;
  justify-self: center;
  align-self: center;
  background-position: bottom;
}
#layout-air .air-text-box {
  display: none;
  width: 40vw;
  margin-top: 2rem;
  padding: 2rem;
  border: rgb(62, 88, 25) dashed 0.5rem;
  border-radius: 2rem;
  justify-self: center;
  align-self: end;
}
#layout-air .left.air-text-box {
  margin-left: 6rem;
}
#layout-air .right.air-text-box {
  margin-right: 6rem;
}
#layout-air .content {
  margin: 1rem;
  padding: 1rem;
  background: #368c9c;
}
#layout-air .left {
  grid-column: 1;
}
#layout-air .center {
  grid-column: 2;
}
#layout-air .right {
  grid-column: 3;
}
#layout-air .title {
  margin-top: 1rem;
  font-size: 2rem;
  color: #f5f5f5;
  height: fit-content;
  grid-area: header;
  justify-self: center;
}
#layout-air .loge-molekyl {
  grid-area: header;
  margin: 1rem;
  margin-top: 2rem;
  width: 9rem;
  height: auto;
}
#layout-air .loge-project-air {
  grid-area: header;
  width: 20rem;
  height: auto;
  justify-self: end;
}
#layout-air #fruit-btn {
  margin: 1rem;
  padding: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  max-width: fit-content;
  height: fit-content;
  place-items: end;
  background: #f5f5f5;
  border-color: #f5f5f5;
  border-style: unset;
  border-radius: 30px;
}
#layout-air #fruit-btn:hover {
  background: #fefefe;
  border-color: #fefefe;
  box-shadow: 4px 4px 3px 1px #343434;
}
@media screen and (max-width: 1280px) and (max-height: 800px) {
  #layout-air .left.air-text-box {
    margin-left: 8rem;
    padding: 2rem;
  }
  #layout-air h1 {
    font-size: 1.2rem;
  }
  #layout-air h2 {
    font-size: 1rem;
  }
  #layout-air p {
    font-size: 0.9rem;
  }
}

#layout-fruit {
  display: none;
  margin-top: 5rem;
  width: 95vw;
  height: 85vh;
  /* Item */
  /*index*/
}
#layout-fruit .grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "left center right";
  overflow: hidden;
  background-color: var(--main-bg-color);
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: Hemi-head;
}
#layout-fruit .graph {
  margin-top: 5rem;
  grid-area: center;
  display: grid;
  grid-template-areas: "circle circle" "info info";
}
#layout-fruit .graph .contient {
  margin-top: -4rem;
  display: flex;
  flex-direction: column;
}
#layout-fruit .graph .circle {
  grid-area: circle;
  justify-self: center;
  margin-top: -3rem;
}
#layout-fruit .graph .contient.one {
  grid-area: info;
  grid-row: 2;
  width: max-content;
  margin-top: 3rem;
}
#layout-fruit .graph .contient.one #g18,
#layout-fruit .graph .contient.one #g1016,
#layout-fruit .graph .contient.one #g1203 {
  transform: rotate(0deg);
}
#layout-fruit .graph .contient.one ul {
  justify-items: center;
  margin-right: 7.5vw;
  margin-top: -5rem;
  direction: rtl;
  transform: translateX(-25%);
}
#layout-fruit .graph .contient.one .main-text::after,
#layout-fruit .graph .contient.one .second-text::after {
  right: -9.5vw;
  transform: rotate(45deg);
}
#layout-fruit .graph .contient.one .info {
  direction: rtl;
}
#layout-fruit .graph .contient.one .info ul {
  border-radius: 2em 0 0 2em;
  border-right: none;
}
@keyframes slide-in {
  0% {
    transform: translateX(130%);
  }
  100% {
    transform: translateX(0%);
  }
}
#layout-fruit .graph .contient.two {
  grid-area: info;
  grid-row: 2;
  grid-column: 2;
  width: max-content;
  margin-right: 7rem;
  margin-top: 3rem;
}
#layout-fruit .graph .contient.two #g18,
#layout-fruit .graph .contient.two #g1016,
#layout-fruit .graph .contient.two #g1203 {
  transform: rotate(360deg);
}
#layout-fruit .graph .contient.two ul {
  justify-items: center;
  margin-left: 5em;
  margin-top: -5rem;
  direction: ltr;
  transform: translateX(75%);
}
#layout-fruit .graph .contient.two .main-text::after,
#layout-fruit .graph .contient.two .second-text::after {
  left: -9.5vw;
  transform: rotate(-45deg);
}
#layout-fruit .graph .contient.two .info {
  direction: ltr;
}
#layout-fruit .graph .contient.two .info ul {
  border-radius: 0 2em 2em 0;
  border-left: none;
}
#layout-fruit .graph .contient.two #g18,
#layout-fruit .graph .contient.two #g1016,
#layout-fruit .graph .contient.two #g1203 {
  transform: rotate(0deg);
}
@keyframes slide-in {
  0% {
    transform: translateX(-130%);
  }
  100% {
    transform: translateX(0%);
  }
}
#layout-fruit .left {
  display: grid;
  grid-area: left;
  grid-template-areas: "main-info graph" "logo info";
}
#layout-fruit .right {
  display: grid;
  grid-area: right;
  grid-template-areas: "graph main-info" "info logo";
}
@keyframes rotate1 {
  0% {
    transform: rotate(0deg); /* inner circle start*/
  }
  100% {
    transform: rotate(180deg); /* inner circle stop/value */
  }
}
@keyframes rotate2 {
  0% {
    transform: rotate(0deg); /* middle circle start*/
  }
  100% {
    transform: rotate(180deg); /* middle circle stop/value */
  }
}
@keyframes rotate3 {
  0% {
    transform: rotate(0deg); /* outer circle start*/
  }
  100% {
    transform: rotate(180deg); /* outer circle stop/value */
  }
}
#layout-fruit ul {
  padding: 0;
  list-style: none;
}
#layout-fruit .graph,
#layout-fruit .main-info,
#layout-fruit .circles {
  box-sizing: border-box;
  height: 70vh;
}
#layout-fruit .info,
#layout-fruit .second-info,
#layout-fruit .logo {
  box-sizing: border-box;
  height: 30vh;
}
#layout-fruit .graph .container {
  display: flex;
  flex-direction: column;
  margin: 1vh 0;
  height: 100%;
}
#layout-fruit .graph svg {
  overflow: visible;
  flex: 1 1;
  flex-basis: 75vh;
  min-width: 100%;
}
#layout-fruit .graph ul {
  flex: 0 0 10%;
  padding: 3vh;
  width: max-content;
}
#layout-fruit .graph ul li {
  color: white;
  font-size: 1rem;
  padding-bottom: 1em;
  opacity: 0;
  animation: fadein 3s forwards linear;
}
#layout-fruit under {
  font-size: 0.75em;
}
#layout-fruit .graph ul li:nth-of-type(1) {
  animation-delay: 6s;
  list-style-image: url(../resources/blixt.svg);
}
#layout-fruit .graph ul li:nth-of-type(2) {
  animation-delay: 8s;
  list-style-image: url(../resources/truck.svg);
}
#layout-fruit .graph ul li:nth-of-type(3) {
  animation-delay: 10s;
  list-style-image: url(../resources/factory.svg);
}
#layout-fruit #g18 {
  animation: rotate1 3s linear forwards;
  transform-origin: 50.3% 64.1%;
}
#layout-fruit #g1016 {
  animation: rotate2 3s linear forwards;
  transform-origin: 50.3% 64.1%;
}
#layout-fruit #g1203 {
  animation: rotate3 3s linear forwards;
  transform-origin: 50.3% 64.1%;
}
#layout-fruit #g18 {
  animation-delay: 4s;
}
#layout-fruit #g1016 {
  animation-delay: 7s;
}
#layout-fruit #g1203 {
  animation-delay: 10s;
}
#layout-fruit #g3533 {
  display: none;
}
#layout-fruit .info ul {
  background-color: var(--secondary-bg-color);
  box-shadow: 5px 10px 40px rgb(63, 62, 62);
  font-size: 0.75em;
  width: 60%;
  color: white;
  border: 3px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: slide-in 2s forwards;
}
#layout-fruit .logo {
  grid-area: logo;
}
#layout-fruit .circles {
  grid-area: main-info;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5vh;
  width: 50vw;
}
#layout-fruit .circles ul {
  padding-right: 0;
}
#layout-fruit .circles li {
  border-radius: 50%;
  margin-bottom: 3vh;
  font-size: 1.5em;
  opacity: 0;
  animation: fadein 3s forwards linear;
  background: var(--circle-bg-color);
  color: white;
}
#layout-fruit .circles ul,
#layout-fruit .circles li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#layout-fruit .circles li:nth-of-type(1) {
  animation-delay: 15s;
}
#layout-fruit .circles li:nth-of-type(2) {
  animation-delay: 16s;
}
#layout-fruit .circles li:nth-of-type(3) {
  background: var(--maincircle-bg-color);
  animation-delay: 17s;
}
#layout-fruit .circles li:nth-of-type(4) {
  animation-delay: 18s;
}
#layout-fruit .circles li:nth-of-type(5) {
  animation-delay: 19s;
}
#layout-fruit .text {
  color: white;
  position: relative;
  font-size: 1.3em;
  opacity: 0;
  animation: fadein 3s forwards linear;
  animation-delay: 14s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#layout-fruit .main-info,
#layout-fruit .second-info,
#layout-fruit .main-text,
#layout-fruit .second-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: -7.75rem;
}
#layout-fruit .main-info {
  justify-content: center;
  grid-area: main-info;
  margin-top: -2rem;
}
#layout-fruit div.second-info {
  grid-area: logo;
  margin-top: -4rem;
}
#layout-fruit .main-text,
#layout-fruit .second-text {
  background: var(--bubble-bg-color);
  width: 25vw;
  height: fit-content;
  max-width: 25vw;
  border-radius: 1vh;
  position: relative;
  padding: 0;
  margin-top: -2rem;
  margin-left: 7.5rem;
  animation: fadein 5s forwards;
  z-index: 1;
}
#layout-fruit .main-text::after,
#layout-fruit .second-text::after {
  content: "";
  display: flex;
  align-self: flex-end;
  background-color: var(--bubble-bg-color);
  height: 6vw;
  width: 6vw;
  margin: 0 2rem -1rem 0;
  transform: rotateZ(45deg);
  border-radius: 50% 0 10% 0;
  z-index: 2;
}
#layout-fruit .main-text h2,
#layout-fruit .second-info h2 {
  color: burlywood;
  font-size: 2.5vw;
  text-align: center;
}
#layout-fruit .main-text p {
  color: aliceblue;
  font-size: 1.7vw;
  text-align: center;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@font-face {
  font-family: Hemi-head;
  src: url("../resources/hemi-head-bd-it.ttf");
}

/*# sourceMappingURL=index.css.map */
